.custom-scrollbar {
  /* REMOVE SMOOTH SCROLLING – IT CAUSES FAST JUMPS */
  scroll-behavior: auto;

  /* REMOVE iOS momentum – it boosts speed */
  -webkit-overflow-scrolling: auto;

  overflow-y: auto;
  overflow-x: hidden;

  /* Keep scrollbar stable */
  scrollbar-gutter: stable;

}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

/* Chrome/Safari/Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(70, 70, 70, 0.8);
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;     /* Firefox */
}


@keyframes shake-once {
  0% { transform: translateX(0px); }
  15% { transform: translateX(-6px); }
  30% { transform: translateX(6px); }
  45% { transform: translateX(-6px); }
  60% { transform: translateX(6px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0px); }
}

.shake-once {
  animation: shake-once 0.35s ease-in-out;
}
